@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// general
body {
    font-family: $basefont;
}

main {
    padding-top: 25px;
}

// utilities
.debug {
    border: 1px solid red;
}

/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
.pre-header {
    background-color: $main-color;
    height: 18px;
    width: 100%;
}

header {
    .nav-link {
        text-transform: uppercase;
        color: $text-color;
        font-weight: 800;
    }

    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: $main-color;
        border-bottom: 2px solid $main-color;
    }
}