/* color styles */
$main-white-color: #FFFFFF;
$main-black-bg: #1C1C1C;
$logo-header-bg-color: #0C7CEC;
$top-footer-bg-color: #0282F9;
$center-logo-footer-bg-color: #12528E;
$bottom-footer-bg-color: #303030;
$icons-footer-bottom-bg-color: #797979;

// fonts
$basefont: 'Montserrat', sans-serif;
